/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3/09/2018, 01:51:47 PM
    Author     : joseluis
*/
body{
    background-color:  #333;
}
footer {
    background-color:#1A1A1A;
    height: 50%;
    color: white;
    padding: 15px;
}
.jumbotron{
    background-color: #01B3FE !important;
    color: white;
    border-radius: 0px
}

.panel-heading{
    background-color: #01B3FE !important;
    color:white !important
}


.panel-body{
    color: #2b2b2b !important;  
}

.navbar{
    background-color: #2b2b2b !important;
}

.navbar-brand:link,.navbar-brand:visited{
    color: #01B3FE !important
}

.navbar-brand:hover,.navbar-brand:active{
    color: white !important
}

#navbar li a:link,#navbar li a:visited{
    color: white !important
}

#navbar li a:hover,#navbar li a:active{
    color:#98f5ff !important
}

.open > a{
    background-color: #2b2b2b !important
}

.btn-primary {
    background-color:#01B3FE !important;
    border:none
}

.btn-primary:hover{
    background-color: #2b2b2b !important
}
.sidebar {
    background-color: white;
}

.sidebar, .gg-elemento{
    padding-top: 1em;
    padding-bottom: 1em
}

.gg-elemento:hover{
    background-color: #2b2b2b !important;
    color:#347ab6
}

.gg-elemento{
    color: white;
}


#gg-solicitudes {
    background-color: #347ab6
}
#gg-estadisticas {
    background-color: #029ac4
}
#gg-calificaciones {
    background-color: #394a66
}
.parte-gestor-entradas {
    background-color: #347ab6;
    color:white
}
.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th{
    background-color: #029ac4
}
.table-striped>tbody>tr>td{
    border: none
}
.table>thead>tr>th{
    border: none;
}
tbody:before{
    content: "_";
    display:block;
    line-height: 1em;
    color:transparent
}
#boton-nueva-entrada {
    background-color: #029ac4 !important
}

#boton-nueva-entrada:hover {
    background-color: #2b2b2b !important
}


.form-editar-solicitud {
    background-color:  white !important;
    padding:3em
}


.contenido-articulo, .perfil {
    background-color: white !important;
    padding: 2em
}
.boton_subir {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1
}


a{
    color: #333;
}

.header{    
    background-color:  #333;
    width:100%;
    height:50px;

}
.header a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.header a:hover {
    background: #ddd;
    color: black;
}
#containerLogin{
    width: 350px;
}
.login{
    background-color: white;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    padding: 17px;
    width: 200px;
    height: 300px;
    position: absolute;
    top:20%;
    left: 50%;
    transform: translate(-20%,-20%);
}
.logo{
    margin:10px auto;
    display:block;
}



